<!doctype html>
<html>
    <head>
        <title>Comment Social</title>
        <!-- External styling -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script> 
        <script src="/angular/angular.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/submissions.css" rel="stylesheet" type="text/css" />
        <script src="/js/core.js"></script>
        <style>
            body         { padding-top:80px; }
        </style>
    </head>
    <!-- SET THE CONTROLLER -->
    <body>
        <div id="mainDiv" class="container" style="100%">
            <ul>
                <li style="list-style: none;" class="col-sm-8 col-sm-offset-2 text-center rect cardType"><p><h1><a href="/api/helloworld">Hello World Task 1</a></h1></p></li>
                <li style="list-style: none;" class="col-sm-8 col-sm-offset-2 text-center rect cardType"><p><h1><a href="/api/response">Web Service Task 2 and 3</a></h1></p></li>
                <li style="list-style: none;" class="col-sm-8 col-sm-offset-2 text-center rect cardType"><p><h1><a href="/api/posts">Social App Task 4, 5, 6 and 7.</a></h1></p></li>
            </ul>
        </div>
    </body>
</html>