<!doctype html>
<html ng-app="postReply">
    <head>
        <title>Comment Social</title>
        <!-- External styling -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script> 
        <script src="/angular/angular.min.js"></script>
        <script src="/js/replyController.js"></script>
        <link href="/css/submissions.css" rel="stylesheet" type="text/css" />
        <style>
            body         { padding-top:80px; }
        </style>
    </head>
    <!-- SET THE CONTROLLER and get the post you want to reply to -->
    <body ng-controller="replyTo" ng-init="reply()">
        <div class="container">
            <table id="userposts" class="table table-bordered text-center">
                <tr>
                     <td colspan='50%'>
                         <p>Reply to: {{ replyToPost.username }} about their post: "{{ replyToPost.text }}" on: {{ replyToPost.dateTime }}</p>
                    </td>
                </tr>
            </table>
            <!-- FORM TO SUBMIT REPLY DATA -->
            <div id="user-form" class="row">
                <form class="col-sm-8 col-sm-offset-2 text-center" id="post-form">
                    <!-- Create the inputs and submit button-->
                    <input type="text" ng-model="formData.text" placeholder="Enter text" />
                    <button type="submit" class="btn btn-primary" ng-click="postReply()">Reply</button>
                </form>
            </div>
        </div>
    </body>
</html>
