<!doctype html>
<html ng-app="postReply">
    <head>
        <title>Comment Social</title>
        <!-- External styling -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script> 
        <script src="/angular/angular.min.js"></script>
        <script src="/js/replyController.js"></script>
        <link href="/css/submissions.css" rel="stylesheet" type="text/css" />
        <link href="/css/formStyle.css" rel="stylesheet" type="text/css" />
        <style>
            body         { padding-top:80px; }
        </style>
    </head>
    <!-- SET THE CONTROLLER and get the post you want to reply to -->
    <body ng-controller="replyTo" ng-init="reply()">
        <div class="container">
            <div id="userposts" class="card cardType text-center">
                <p><b>Reply to: {{ replyToPost.username }}</b>  about their post: "{{ replyToPost.text }}" on: {{ replyToPost.dateTime }}</p>
            </div>
            <!-- FORM TO SUBMIT REPLY DATA -->
            <div id="user-form" class="row">
               <div ng-valid name="userForm" class="cardType form-style-6">
                    <h1>Submit Post</h1>
                    <form ng-valid name="userForm" id="userForm">
                        <textarea type="text" ng-model="formData.text" required placeholder="Enter Reply Text Here"></textarea>
                        <input type="text" ng-model="formData.username"  required placeholder="Enter Username Here" />
                        <input type="text" ng-model="formData.cityName" required placeholder="Enter City Name Here" />
                        <input type="submit" value="Reply" ng-click="postReply()"/>
                    </form>
                    <div><b><h3>{{ errorData }}</h3></b></div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-2 text-center"><b><h3>{{ errorData }}</h3></b></div>
        </div>
    </body>
</html>
