<!doctype html>
<html ng-app="userInfo">
    <head>
        <title>Comment Social</title>
        <!-- External styling -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script> 
        <script src="/angular/angular.min.js"></script>
        <script src="/js/core.js"></script>
        <link href="/css/submissions.css" rel="stylesheet" type="text/css" />
        <link href="/css/formStyle.css" rel="stylesheet" type="text/css" />
        <style>
            body         { padding-top:80px; }
        </style>
    </head>
    <!-- SET THE CONTROLLER -->
    <body ng-controller="mainController">
        <div class="container">
            <!-- FORM TO SUBMIT DATA -->
            <div id="formHolder" class="col-sm-8 col-sm-offset-2 text-center">
                <div ng-valid name="userForm" class="cardType form-style-6">
                    <h1>Submit Post</h1>
                    <form ng-valid name="userForm" id="userForm">
                        <textarea type="text" ng-model="formData.text" required placeholder="Enter Post Text Here"></textarea>
                        <input type="text" ng-model="formData.username"  required placeholder="Enter Username Here" />
                        <input type="text" ng-model="formData.cityName" required placeholder="Enter City Address Here" />
                        <input type="submit" value="Send" ng-click="submitPost()"/>
                    </form>
                    <div><b><h3>{{ errorData }}</h3></b></div>
                </div>
            </div>
        </div>
        <div id="allPosts" class="container" ng-init="getData()">
                <div class="cardType bgColor" id="userposts">
                    <h3 class="moduletitle text-center">User Posts</h3>
                    <ul id="listItems" class="card cardType bgColor" ng-repeat="post in userData">
                        <li id="post" title="User Posted This"><b>User: {{ post.username }}</b> posted: "{{ post.text }}" on {{ post.dateTime }}.<br>
                        <b>Location: {{ post.cityName }}</b> Latitude: {{ post.lat }} Longitude: {{ post.long }} and the Temperature was {{ post.temp }} Degrees Farenheit.</li>
                    </ul>
                </div>
                <!-- Create a table for all posts -->
                <div id="all" class="cardType bgColor" ng-init="getAllPosts()">
                    <h3 class="moduletitle text-center">All Posts</h3>
                    <!-- Loop through each post and show the details -->
                    <ul id="listItems" class="card cardType bgColor" ng-repeat="post in postData">
                        <li id="post"><a title="Click to Reply" ng-click="reply(post._id)"><b>User: {{ post.username }}</b> posted: "{{ post.text }}" on {{ post.dateTime }}.<br>
                        <b>Location: {{ post.cityName }}</b> Latitude: {{ post.lat }} Longitude: {{ post.long }} and the Temperature was {{ post.temp }} Degrees Farenheit.</a></li>
                        
                        <!-- Display replies if they have replies-->
                        <li id="reply" ng-repeat="reply in post.replies"><b>{{ reply.username }}</b> replied:  "{{ reply.text }}" on {{ reply.dateTime }}<br>
                        <b>Location: {{ reply.cityName }}</b> Latitude: {{ reply.lat }} Longitude: {{ reply.long }} and the Temperature was {{ reply.temp }} Degrees Farenheit.</a></li>
                    </ul>
                </div>
            </div>
    </body>
</html>
