.cardType{
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.20);
}

/*
.bgColor {
	background-color: ;
}*/

#formHolder{
	margin-bottom: 20px;
}

#post{
	padding-top: 5px; 
	padding-left: 5px;
	padding-bottom: 5px; 
	list-style-position:inside; 
	list-style: none;
	
}

#listItems {
	padding-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

#reply{
	list-style-position:inside; 
	list-style: none; 
	padding-top: 5px; 
	padding-bottom: 5px; 
	margin-left: 30px;
	margin-bottom: 10px;
}

#userposts{
	padding-top: 10px;
	margin-bottom: 150px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}

#btn{
	margin-top: 30px;
	margin-left: 15px;
}

#allPosts{
	margin-bottom: 150px;
}

#all{
	padding-top: 10px;
	padding-bottom: 20px;
}

#listItems{
	padding-right: 40px;
	padding-bottom: 40px;
}

.card {
  background: white;
  position: relative;
  .border-radius(2px);
  .box-sizing(border-box);
  font-size: 1.5em;
}

